<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--
      Пример web.xml для Spring Boot приложения, собираемого как WAR.
      Обычно для Spring Boot web.xml не требуется, но если нужно явно определить настройки сервлета или фильтров,
      добавьте их сюда.
    -->
    <display-name>flowable-client</display-name>
</web-app>
